<% if request.original_url.include? 'password'
     resource = User.new
   else
     resource ||= User.new
   end
%>

<%= form_for(resource, as: resource_name,
             url: session_path(resource_name),
             html: {:id => 'popup_sign_in_form'},
             format: :json,
             remote: true) do |f| %>

  <div id="popup_sign_in_error" class="alert alert-danger hide"></div>

  <div class="form-group"><%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group"><%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Sign In', class: 'btn btn-success' %>
    <%= render 'users/shared/popup_links' %>
  </div>

<% end %>

<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <br/> <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>