<div class="row no-margin sign-in-sign-up-wrapper">
  <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
    <h2 class="text-center">Forgot your password?</h2>
    <hr/>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <%
           unless devise_error_messages!.blank?
             str = devise_error_messages!
             replace = { '1 error prohibited this user from being saved:' => '', '<h2>' => '', '<ul>' => '', '<li>' => ''}
             replace.map.each { |k, v| str.sub!(k, v) }

             flash.now[:error] = str.html_safe
           end
        %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>
        <div class="actions">
          <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary' %>
        </div>
        <%= render 'users/shared/links' %>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
</div>
