<% if request.original_url.include? 'password'
     resource = User.new
   else
     resource ||= User.new
   end
%>

<%= form_for(resource, as: resource_name,
             url: registration_path(resource_name),
             html: {:id => 'popup_sign_up_form'},
             format: :json,
             remote: true) do |f| %>

    <div id="popup_sign_up_error" class="alert alert-danger hide"></div>

    <div class="form-group"><%= f.label :name %><br/>
      <%= f.text_field :name, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group"><%= f.label :username %><br/>
      <%= f.text_field :username, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group"><%= f.label :email %><br/>
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group"><%= f.label :password %><br/>
      <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    </div>

    <div class="form-group"><%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit 'Sign Up', class: 'btn btn-success' %>
      <%= render 'users/shared/popup_links' %>
    </div>

<% end %>


